.container {
  max-width: 600px;
  margin: 1em auto;
  background-color: #fff;
  box-shadow: rgba(0,0,0,.2) 0 2px 10px;
  padding: 1rem;
  h1 {
    text-align: center;
    margin-bottom: 1em;
    color: #39B;
  }
}